<div class="container">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h4>Welcome To Yes Bank <br> <br> <h5>{{aim}} </h5></h4>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center" >
<form action="" (ngSubmit)="register()">
    <table class="shadow mb-4 rounded " cellpadding="5" cellspacing="5" style="background-color: white;">
        <tr>
            <td>
                <input id="acno" type="text" class="form-control" name="uname" [(ngModel)]="uname" placeholder="User Name" ></td>
        </tr>
        <tr>
            <td>
                <input id="acno" type="text" class="form-control" name="accno" [(ngModel)]="accno" placeholder="Account number" ></td>
        </tr>
        <tr>
            <td>
                <input id="pwd" type="password" class="form-control" name="pswd" [(ngModel)]="pswd" placeholder="Password">
            </td>
        </tr>
       
        <tr >
            <td class="p-4">
                <button type="submit" class="form-control btn btn-primary pb-4" style="font-size: 20px;font-weight: bold;">
                    Register</button>
                </td>
        </tr>
        <tr >
            <td class="p-4">
                <a routerLink="">Log In</a>
                </td>
        </tr>
    </table>
</form>
</div>
<div class="col-2"></div>
</div>
</div>